<nav class="top-bar">
  <section class="top-bar-section">
    <ul class="left">
      <li><%= link_to 'Rubothub', root_path %></li>
    </ul>
    <ul class="right">
      <li><%= link_to 'Login', '#' %></li>
      <li><%= link_to 'Signup', '#' %></li>
    </ul>
  </section>
</nav>
